.chart-container {
	height: 100%;
	canvas {
		height: 100% !important;
	}
	.chart-container-search {
		display: flex;
		max-width: 100%;
		width: 40rem;
		margin: 0.4rem auto;
		justify-content: center;
	}
	.chart-container-title {
		margin: 0px;
		font-size: 1.4rem;
		font-weight: 300;
		display: block;
		text-align: center;
		width: 100%;
		text-transform: uppercase;
	}
	.chart-container-type {
		margin: 0.3rem auto;
		text-align: center;
		font-weight: 300;
		font-size: 1rem;
	}
	&.search {
		canvas {
			height: 80% !important;
		}
	}
}
