.paper {
	background: white;
	overflow: hidden;
	border-radius: 3px;
	box-sizing: border-box;
	padding: 1rem;
	margin: 1rem;
	min-height: 25rem;
	&.width-1 {
		width: calc(10% - 2rem);
	}
	&.width-2 {
		width: calc(20% - 2rem);
	}
	&.width-3 {
		width: calc(30% - 2rem);
	}
	&.width-4 {
		width: calc(40% - 2rem);
	}
	&.width-5 {
		width: calc(50% - 2rem);
	}
	&.width-6 {
		width: calc(60% - 2rem);
	}
	&.width-7 {
		width: calc(70% - 2rem);
	}
	&.width-8 {
		width: calc(80% - 2rem);
	}
	&.width-9 {
		width: calc(90% - 2rem);
	}
	&.width-10 {
		width: calc(100% - 2rem);
	}
	&.half-vh-height {
		height: 50vh;
	}
	&.hf-vh-height {
		height: 50rem;
	}
	canvas {
		height: 100%;
	}
}
