$globalFontSize: 16px;

$bgColor: #dbe0e5;
$borderColor: #c3c3c3;
$grey: #796767;
$dark: #242424;
$lightGrey: #f6f7f8;

$offsetTop: 4rem;
$sidebarWidth: 240px;

$transitionCubic: all 0.2s cubic-bezier(0.34, 0.83, 0.34, 0.96);
